# Purpose: List of Python dependencies for MedidocAI
fastapi
uvicorn
google-cloud-aiplatform
google-cloud-texttospeech
google-auth>=2.23.3
qdrant-client
python-dotenv
requests
python-multipart
pydantic
pyyaml
jinja2
markdown2

# Database Dependencies (PostgreSQL)
sqlalchemy
asyncpg
greenlet